#ide[entity-type="record"] > section[name="record"] {
    display: block;
}

#ide > section[name="record"] > fieldset[name="search"] > input[type="search"] {
    width: 23em;
}

#ide > section[name="record"] > fieldset[name="edit"] > table.editor {
    border-collapse: collapse;
    margin-top: 2em;
    width: 60em;
    max-height: 36em;
}
#ide > section[name="record"] > fieldset[name="edit"] > table.editor > thead > tr {
    height: 3em;
}
#ide > section[name="record"] > fieldset[name="edit"] > table.editor tbody tr {
    height: 5em;
}
#ide > section[name="record"] > fieldset[name="edit"] > table.editor input {
    width: calc(100% - 5px);
    min-width: 15em;
}
