#ide[entity-type="record"] > section[name="record"] {
    display: block;
}

#ide > section[name="record"] > fieldset[name="search"] > input[type="search"] {
    width: 23em;
}

#ide > section[name="record"] > fieldset[name="edit"] > table.editor {
    margin-top: 2em;
    width: 60em;
    max-height: 36em;
}
#ide > section[name="record"] > fieldset[name="edit"] > table.editor input {
    width: 100%;
}
