#ide[entity-type="record"] > section[name="record"] {
    display: block;
}

#ide > section[name="record"] > fieldset[name="search"] > input[type="search"] {
    width: 23em;
}

#ide > section[name="record"] > fieldset[name="edit"] > table.editor {
    border-collapse: collapse;
    margin-top: 2em;
    width: 60em;
    max-height: 36em;
}
#ide > section[name="record"] > fieldset[name="edit"] > table.editor > thead > tr {
    height: 3em;
}
#ide > section[name="record"] > fieldset[name="edit"] > table.editor tbody tr {
    height: 5em;
}
#ide > section[name="record"] > fieldset[name="edit"] > table.editor td[name="property"] > input, 
    #ide > section[name="record"] > fieldset[name="edit"] > table.editor td[name="property"] > small {
    width: 300px;
}
#ide > section[name="record"] > fieldset[name="edit"] > table.editor td[name="type"] > input, 
    #ide > section[name="record"] > fieldset[name="edit"] > table.editor td[name="type"] > small {
    width: 350px;
}
