#ide[entity-type="recordtype"] > section[name="recordtype"] {
    display: block;
}
#ide > section[name="recordtype"] > fieldset[name="edit"], 
#ide > section[name="recordtype"] > fieldset[name="code"] {
    display: none;
}
#ide > section[name="recordtype"] > fieldset[name="edit"][active], 
#ide > section[name="recordtype"] > fieldset[name="code"][active] {
    display: block;
}
#ide > section[name="recordtype"] > fieldset[name="code"] > label {
    display: block;
}
#ide > section[name="recordtype"] > fieldset[name="code"] > label > input, 
#ide > section[name="recordtype"] > fieldset[name="test"] > label > input {
    width: calc(100% - 4px);
}
