#ide[entity-type="asset"] > section[name="asset"] {
    display: block;
}
#ide > section[name="asset"] > fieldset[name="search"] > input[type="search"] {
    width: 40em;
}
#ide > section[name="asset"] > fieldset[name="edit"] > label {
    width: 24em;
    margin-right: 2em;
}
#ide > section[name="asset"] > fieldset[name="edit"] > label > input {
    width: calc(100% - 4px);
    margin-right: 2em;
}
#ide > section[name="asset"] > fieldset[name="edit"] > label:first-of-type span:first-of-type {
    display: block;
    width: 3em;
}
#ide > section[name="asset"] > fieldset[name="edit"] > label:first-of-type span:nth-of-type(2) {
    display: inline-block;
    width: 3em;
    font-size: 90%;
}
#ide > section[name="asset"] > fieldset[name="edit"] > label:first-of-type input {
    display: inline-block;
    width: calc(100% - 3.5em);
    padding-left: 2px;
    margin-right: 0;
}

#ide > section[name="asset"] > fieldset[name="edit"] > label:last-of-type {
    display: block;
}
#ide > section[name="asset"] > fieldset[name="edit"] > label:last-of-type textarea {
    display: block;
    width: 54em;
    height: 10em;
}
#ide > section[name="asset"] > fieldset[name="code"] > label {
    display: block;
}
#ide > section[name="asset"] > fieldset[name="code"] > label > input {
    width: calc(100% - 4px);
}










#ide > section[name="asset"] {
    display: block;
}
