#ide[entity-type="asset"] > section[name="asset"] {
    display: block;
}
#ide > section[name="asset"] > fieldset[name="search"] > input[type="search"] {
    width: 40em;
}
#ide > section[name="asset"] > fieldset[name="edit"] > label {
    width: 24em;
    margin-right: 2em;
}
#ide > section[name="asset"] > fieldset[name="edit"] > label > input {
    width: calc(100% - 4px);
    margin-right: 2em;
}
#ide > section[name="asset"] > fieldset[name="edit"] > label:first-of-type {
    position: relative;
}
#ide > section[name="asset"] > fieldset[name="edit"] > label:first-of-type span:first-of-type {
    display: block;
}
#ide > section[name="asset"] > fieldset[name="edit"] > label:first-of-type span:nth-of-type(2) {
    display: inline-block;
    width: 3em;
    font-size: 90%;
    position: absolute;
    left: 3px;
    top: 2em;
    z-index: 1;
    color: grey;
}
#ide > section[name="asset"] > fieldset[name="edit"] > label:first-of-type input {
    display: inline-block;
    width: calc(100% - 3.5em);
    padding-left: 3em;
    position: relative;
    left: 0;
    margin-right: 0;
}

#ide > section[name="asset"] > fieldset[name="edit"] > label:last-of-type {
    display: block;
}
#ide > section[name="asset"] > fieldset[name="edit"] > label:last-of-type div.editor {
    display: block;
    width: 60em;
    height: 10em;
}
#ide > section[name="asset"] > fieldset[name="code"] > label {
    display: block;
}
#ide > section[name="asset"] > fieldset[name="code"] > label > input {
    width: calc(100% - 4px);
}









