/* REQUIRED settings */
:root {
    /* your core color scheme colors, as many as you like, named as you like, with a --palette-- prefix */
    --palette--salmon: #ed786a;
    --palette--liver-organ: #753224;
    --palette--heliotrope-gray: #a1959f;
    --palette--turquoise-green: #b6d9bc;
    --palette--pewter-blue: #87a7ad;
    
    /* other core theme settings */
    --palette--font: font-family(Roboto, sans-serif);
    --palette--font-text: var(--palette--font);
    --palette--font-heading: var(--palette--font);
    --palette--font-accent: var(--palette--font);
    
    /* core brand image */
    --palette--image: url(images/icon.png);

    /* context specific branding images */
    --palette--image-logo: url(images/logo.png); /* either a .webp, .png or .jpg image */
    --palette--image-icon: url(images/icon.png); /* should be a square .webp or .png image */
    --palette--image-cover: none; /* should be a larger .webp or .jpg image if included */
}

/* REQUIRED functional color assignment settings, assign each named color to one or more purposes in the theme */
:root {
    --palette--color-canvas: var(white); /* the background color */
    --palette--color-chrome: var(--palette--turquoise-green); /* the color for borders, outlines and other interface chrome */
    --palette--color-primary: var(--palette--heliotrope-gray); /* the main branding color that captures the eye */
    --palette--color-secondary: var(--palette--liver-organ); /* the other branding color which complements, balances, and augments the primary branding color */
    --palette--color-mute: var(--palette--turquoise-green); /* a weaker color to be used sparingly to avert attention away from itself */
    --palette--color-accent: var(--palette--salmon); /* a stronger color to be used sparingly to bring attention to itself */
    --palette--color-info: var(--palette--pewter-blue); /* the color for text or other neutral information */
    --palette--color-warning: var(--palette--pewter-blue); /* the color to communicate that something BAD MIGHT happen if corrective action isn't taken */
    --palette--color-danger: var(--palette--pewter-blue); /* the color to communicate that something BAD is happening */
    --palette--color-success: var(--palette--pewter-blue); /* the color to communicate that something GOOD is happening */
}


/* OPTIMISATION settings */
:root {
    --palette--image-logo--small: var(--palette--image-logo);
    --palette--image-logo--medium: var(--palette--image-logo);
    --palette--image-logo--large: var(--palette--image-logo);
    
    --palette--image-icon--small: var(--palette--image-icon);
    --palette--image-icon--medium: var(--palette--image-icon);
    --palette--image-icon--large: var(--palette--image-icon);

    --palette--image-cover--small: var(--palette--image-cover);
    --palette--image-cover--medium: var(--palette--image-cover);
    --palette--image-cover--large: var(--palette--image-cover);
}


/* DARK MODE OVERRIDES */
@media (prefers-color-scheme: dark) {
    :root {
        --palette--color-canvas: var(black);
        --palette--color-chrome: var(--palette--pewter-blue);
        --palette--color-primary: var(--palette--salmon);
        --palette--color-secondary: var(--palette--liver-organ);
        --palette--color-mute: var(--palette--heliotrope-gray);
        --palette--color-accent: var(--palette--turquoise-green);
        --palette--color-info: var(--palette--pewter-blue);
        --palette--color-warning: var(--palette--pewter-blue);
        --palette--color-danger: var(--palette--pewter-blue);
        --palette--color-success: var(--palette--pewter-blue);
        
        --palette--image: var(--palette--image);
        --palette--image-logo: var(--palette--image-logo);
        --palette--image-icon: var(--palette--image-icon);
        --palette--image-cover: var(--palette--image-cover);
        
        --palette--image-logo--small: var(--palette--image-logo--small);
        --palette--image-logo--medium: var(--palette--image-logo--medium);
        --palette--image-logo--large: var(--palette--image-logo--large);
        
        --palette--image-icon--small: var(--palette--image-icon--small);
        --palette--image-icon--medium: var(--palette--image-icon--medium);
        --palette--image-icon--large: var(--palette--image-icon--large);
    
        --palette--image-cover--small: var(--palette--image-cover--small);
        --palette--image-cover--medium: var(--palette--image-cover--medium);
        --palette--image-cover--large: var(--palette--image-cover--large);
    }
}
