#ide[entity-type="channel"] > section[name="channel"] {
    display: block;
}
#ide > section[name="channel"] > fieldset[name="edit"], 
#ide > section[name="channel"] > fieldset[name="code"], 
#ide > section[name="channel"] > fieldset[name="test"] {
    display: none;
}
#ide > section[name="channel"] > fieldset[name="edit"][active], 
#ide > section[name="channel"] > fieldset[name="code"][active], 
#ide > section[name="channel"] > fieldset[name="test"][active] {
    display: block;
}
#ide > section[name="channel"] > fieldset[name="code"] > label, 
#ide > section[name="channel"] > fieldset[name="test"] > label {
    display: block;
}
#ide > section[name="channel"] > fieldset[name="code"] > label > input, 
#ide > section[name="channel"] > fieldset[name="test"] > label > input, 
#ide > section[name="channel"] > fieldset[name="test"] > label > textarea {
    width: calc(100% - 4px);
}
