#ide[entity-type="channel"] > section[name="channel"] {
    display: block;
}
#ide > section[name="channel"] > fieldset[name="edit"] {
    display: none;
}
#ide > section[name="channel"] > fieldset[name="edit"][active] {
    display: block;
}



#ide > section[name="channel"] > fieldset[name="configure"] > label {
    margin-right: 2em;
}
#ide > section[name="channel"] > fieldset[name="code"] > label, #ide > section[name="channel"] > fieldset[name="test"] > label {
    display: block;
}
#ide > section[name="channel"] > fieldset[name="code"] > label > input, 
    #ide > section[name="channel"] > fieldset[name="test"] > label > input, 
    #ide > section[name="channel"] > fieldset[name="test"] > label > textarea {
    width: calc(100% - 4px);
}
#ide > section[name="channel"] > fieldset[name="configure"] > button[name="create"],
    #ide > section[name="channel"] > fieldset[name="configure"] > button[name="delete"], 
    #ide > section[name="channel"] > fieldset[name="configure"] > details {
    display: none;
}
#ide > section[name="channel"] > fieldset[name="configure"][mode="new"] > button[name="create"] {
    display: inline-block;
}
#ide > section[name="channel"] > fieldset[name="configure"][mode="load"] > button[name="delete"] {
    display: inline-block;
}
#ide > section[name="channel"] > fieldset[name="configure"][mode="new"] > details {
    display: block;
}
