#ide:not([entity-type]) > section[name="channel"] {
    display: block;
}
#ide div[name="sidebar"] {
    position: absolute;
    left: 0;
    top: 60px;
    width: 149px;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    padding-top: 30px;
}
#ide div[name="sidebar"] button {
    display: block;
    font-size: 120%;
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 0.75em;
}
#ide div[name="sidebar"] button.category {
    font-weight: bold;
    border-top: 1px solid gray;
    cursor: default;
}
#ide div[name="sidebar"] button.indent {
    padding-left: 1em;
    font-size: 90%;
}
#ide div[name="sidebar"] button.indent::before {
    content: ' - ';
}
#ide > section {
    position: absolute;
    left: 180px;
    top: 60px;
    width: calc(100% - 200px);
    display: none;
    min-height: 500px;
    overflow: visible;
    padding-bottom: 50px;
}
#ide section > h2 {
    margin-top: 0;
}

#ide > section > nav {
    display: block;
    width: 250px;
    min-height: 500px;
    position: absolute;
    left: 0;
    top: 40px;
}
#ide > section > nav ul {
    list-style: none;
    font-size: 80%;
    display: block;
    padding-left: 0;
}
#ide > section > nav ul li {
    list-style: none;
    border: 1px solid grey;
    margin-bottom: 1em;
    display: block;
    cursor: pointer;
}
#ide > section > nav ul li:hover {
    font-weight: bold;
    font-style: italic;
}
#ide > section > div {
    display: block;
    position: absolute;
    left: 300px;
    top: 40px;
    width: calc(100% - 300px);
}

#ide > section > fieldset, #ide > section > element-entitysearch {
    width: calc(100% - 31px);
    max-width: calc(100vw - 231px);
    overflow-x: auto;
}
#ide > section > element-entitysearch {
    display: block;
    outline: 1px solid black;
    margin-bottom: 2em;
    padding: 1em;
}

#ide > section details {
    padding: 1px;
    width: calc(100% - 2px);
    overflow-x: auto;
}
#ide > section details > summary {
    cursor: pointer;
    font-style: italic;
    max-width: 100%;
    overflow-x: auto;
    outline: none;
}

#ide > section details > pre {
    padding: 1em;
    max-width: calc(100vw - 300px);
    overflow-x: auto;
    background-color: darkgrey;
    color: white;
    font-family: monospace;
}
#ide > section details > pre > code {
    max-width: 100%;
    overflow-x: auto;
}
#ide > section > fieldset > label, #ide > section > fieldset > button {
    display: inline-block;
    position: relative;
}
#ide > section > fieldset > label > input {
    width: 20em;
}
#ide > section > fieldset > details {
    display: block;
}
#ide > section > fieldset input {
    font-size: 98%;
}
#ide > section > fieldset textarea {
    height: 5em;
}

#ide button {
    cursor: pointer;
}
#ide button[name="delete"] {
    color: red !important;
}
#ide button[disabled] {
    cursor: default !important;
    color: gray !important;
}