#ide div[name="sidebar"] {
    position: absolute;
    left: 0;
    top: 60px;
    width: 129px;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    padding-top: 30px;
}
#ide div[name="sidebar"] button {
    display: block;
    font-size: 120%;
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 0.75em;
}
#ide form {
    position: absolute;
    left: 180px;
    top: 60px;
    width: calc(100% - 200px);
    display: none;
}
#ide form > h2 {
    margin-top: 0;
}
#ide[entity-type="channel"] form[name="channel"] {
    display: block;
}