#ide[entity-type="record"] > section[name="record"] {
    display: block;
}
#ide > section[name="record"] > fieldset[name="edit"] {
    display: none;
}
#ide > section[name="record"] > fieldset[name="edit"][active] {
    display: block;
}
