#ide[entity-type="static"] > section[name="static"] {
    display: block;
}
#ide > section[name="static"] > element-entitysearch > input[type="search"] {
    width: 40em;
}
#ide > section[name="static"] > fieldset[name="edit"] > .text-editor-container {
    margin-top: 1em;
    margin-bottom: 1em;
}