#tests table th[scope="col"] {
    font-size: 120%;
}

#tests table .success, #tests table .success code {
    color: green;
}
#tests table .warning, #tests table .warning code {
    color: orange;
}
#tests table .error, #tests table .error code {
    color: red;
}

#test table {
    border-collapse: collapse;
}
#tests table td, #tests table th[scope="row"] {
    border-top: 1px solid var(--palette--color-chrome);
}

time {
    font-size: 80%;
    font-weight: normal;
    display: block;
    font-style: italic;
}