#tests table th[scope="col"] {
    font-size: 120%;
}

#test table {
    border-collapse: collapse;
}
#tests table td, #tests table th[scope="row"] {
    border-top: 1px solid var(--palette--color-chrome);
}
#tests table td label:not([status]) {
    display: none;
    color: var(--palette--color-info);
}
#tests table td label[status] {
    display: block;
}
#tests table td label[status="success"] {
    color: green;
}
#tests table td label[status="process"] {
    color: orange;
}
#tests table td label[status="error"] {
    color: red;
}

time {
    font-size: 80%;
    font-weight: normal;
    display: block;
    font-style: italic;
}