#tests table th[scope="col"] {
    font-size: 120%;
}

#tests table {
    border-collapse: collapse;
}
#tests table td, #tests table th[scope="row"] {
    border-top: 1px solid var(--palette--color-chrome);
}
#tests table td label:not([status]) {
    display: none;
    color: var(--palette--color-info);
}
#tests table td label[status] {
    display: block;
    margin-top: 1em;
}
#tests table td label[status="success"] {
    color: green;
}
#tests table td label[status="process"] {
    color: orange;
}
#tests table td label[status="error"] {
    color: red;
}

#tests time, #tests i {
    font-size: 80%;
    font-weight: normal;
    display: block;
    font-style: italic;
}
#tests time[name="request"] {
    color: orange;
} 
#tests time[name="request"]::before {
    content: 'Request Timing: ';
} 
#tests time[name="process"] {
    color: green;
}
#tests time[name="process"]::before {
    content: 'Process Timing: ';
} 
#tests time[name="request"]::after, #tests time[name="process"]::after {
    content: 'ms';
}
#tests time[name="process"] + aside {
    color: darkgrey;
    font-weight: normal;
    font-size: 80%;
    font-style: italic;
    margin-bottom: 1em;
}
#tests tr.code-snippet {
    font-size: 90%;
    font-family: monospace;
}
#tests tr.code-snippet td {
    border-top: none;
}
#tests tr.code-snippet details {
    margin-bottom: 2em;
}
#tests tr.code-snippet details summary {
    cursor: pointer;
}
#tests tr.code-snippet details code, code.confirmation {
    white-space: pre;
    max-width: calc(100% - 20px);
    max-height: unset;
    overflow-x: auto;
    background-color: darkgrey;
    color: white;
}

#tests table td code.result {
    background-color: lightgrey;
    min-height: 40px;
}
#tests table td code.confirmation {
    min-height: 80px;
    max-height: 300px;
    overflow: auto;
}