#ide[entity-type="feed"] > section[name="feed"] {
    display: block;
}
#ide > section[name="feed"] > fieldset[name="edit"] {
    display: none;
}
#ide > section[name="feed"] > fieldset[name="edit"][active] {
    display: block;
}
